﻿/* IE6 OVERRIDES */

/* ALL PAGES */
/* ------------------------------------------------------------------------------------------------------------- */
#submenue {width:900px;}
/* Enforces minimum width for pages - adds borders to give min-width effect */
#min-width {width:900px}
#minwidth-body {width:900px;}
/*div.m {width:1035px;}*/

div.user-toolbar .disabled { display:none;}

/* MASTER HEADER */
#border-top.h_blue {clear:both;	background: url(../images/footer-bg.jpg) repeat-x;	height: 68px;   margin-bottom: 8px; } /* margin-left:-5px; padding-left:5px; */
/* had to take out pictures as border on left and right since they were not behaving and solution could not be found within time constraints width:1035px; */
#border-top.h_blue div {  background: url(../images/VerticalBorder.jpg) no-repeat right;  height:66px; margin-top:1px; }  
#border-top.h_blue div div { background: url(../images/VerticalBorder.jpg) no-repeat left;  height:66px; margin-top:1px; }

/* MASTER FOOTER */
#border-bottom {clear: both;	background: url(../images/footer-bg.jpg) repeat-x;	height: 68px; width:900px;	margin-top: 15px;}
#border-bottom div {	background: url(../images/footer-right-bg.jpg) 100% 0 no-repeat;}
#border-bottom div div {	background: url(../images/footer-left-bg.jpg) no-repeat;	height: 68px;}

/* ALL BUTTONS */
/* adjusting the width forces divs to take into account their floats */
.button1 {width:75px;}
/* Fixing filter button text changing to invisible when link has been clicked */
.button1 a:visited{color :white;}
.button1 a:hover{color: #058FF2;}
.disabled-button {background: url(../images/button-bg-grey.jpg) 100% 0  no-repeat !important;}

/* ALL POPUPS */
.WidthAuto { width:700px;}

/* LOGIN PAGE */
/* ------------------------------------------------------------------------------------------------------------- */
#form1 .button-holder p {margin-left: 0px;}
.login div.m {	padding: 0px 8px;	} /* evens out the m box on the login page */
/*#login{width:752px;} */
#border-bottom.login {width:750px;}
#loginbox .padding {width:750px;}
#loginbox p {margin-left:15px;}	/* moves textbuttons over under the login button */

/* left border showing up half way across the div */
#loginbox .m {width:732px; margin-bottom:-20px} /*border-left:none; */
/*div#element-box.login div#section-box {width:90%;}

/* PROCEDURES PAGE */
/* ------------------------------------------------------------------------------------------------------------- */
/* Filter and reset buttons were stacking vertically wrapped them in a box to constrain their size */
#filter-wrapper .button-holder {float:right; width:84px }
/*replaces hover opacity for older browsers */
.opas tr:hover {border-color : Gray ;} /* dont think hover works in ie6 */
div#toolbar-box div.m {width:99.8%;}	/* solves the left and right borders dissapearing in the navbuttons panel *for Procedures*/
#date_nav_right {width: 30%;} /* gives the buttons in the navigation box enough room to sit side by side horizontally */

/* MONTH VIEW CALENDAR */
.mcal-header {width: 100%; float: left; font-weight: bold; color:#025A8D;}
.mcal-day { overflow-y:hidden;   } /* width: 13.96011834144% !important; forces calendar days to fit to rows without wrapping given different metrics in ie6 */
.mcal-week {padding-left: 4px; margin-right:-4px;}
.mcal-date-anchor {float:left;}

/* ALERTS POPUP */
.alertbox_iframe {width:402px; height:95px; background-color:transparent;   position:absolute;  left:0px; top:0px; }
.alertbox_iframe iframe {width:402px; height:105px; background-color:transparent ;}

/* BOOKING PAGE */
/* -------------------------------------------------------------------------------------------------------------- */
#content-box {width:900px; margin-top:5px} /* Locks in the widths of wide elements */
/* cleans up the "BookingForm" title */
#border-top-booking { background: url(../images/login-header-bg-thin-50.jpg)  repeat-x ;}
#border-top-booking.booking h1{width:875px;}
#border-top-booking.booking div { background: url(../images/VerticalBorder.jpg) no-repeat right;  height:61px;}  
#border-top-booking.booking div div { background: url(../images/VerticalBorder.jpg) no-repeat left;  height:61px;}
/* Receipt label and button sitting vertically */
#div_receiptbooking.login-button div { float : left;  }
#Manual_Receipt_Text  {float: right;}
.Browser-Margin-2 { margin:-2px;}

/* SCAN PAGE */
/* -------------------------------------------------------------------------------------------------------------- */
/* Fix toolbar buttons stacking vertically */
div.toolbar-list a { width: 48px;}
toolbar-list li {width:30px;}
.HiddenSpacing {width:100%;} /* buttons all over the place and hiding the bottom border of the button panel */
#toolbar-box {width:900px;} /*fixed box resizing like crazy and not lining up with rest of page */
#submenu-box {width:900px;}

#ctl00_ContentPlaceHolder2_UpdatePanel1 {width:900px;}
div.order-deats {width:98.2%;} /* solves the left and right borders dissapearing in the order details panel *for Scan*/
#toolbar-box div.m{} /* float:left; */ /* Left and Right borders of div.m are not being displayed */

/* ORDER DETAILS table styles */
#border-top-requests {	background: url(../images/login-header-bg.jpg) repeat-x; margin-bottom: -8px;	border-bottom: solid 1px #cccccc; width:750px;  }
#border-top-requests.requests div {} /* 	background: url(../images/login-header-bg_right-bg.jpg) 100% 0 no-repeat; */
#border-top-requests.requests div div {	} /* 	background: url(../images/login-header-bg_left.jpg) no-repeat; */
#border-top-requests.requests h1 {float:left;	font-size: 25px;	font-weight: normal;	color: #005992;	line-height: 26px;	padding: 5px 0 0 10px;}
table.adminlist {border-bottom:none;border-right:solid 1px #cccccc;}

/* VIEW PART DETAILS POPUP */
div.user-toolbar a { width: 38px;}

/*.ddl_AddPart {background-color:Red; width:50px; height:20px; visibility:visible; z-index:1000000;} /* Function drop down list not displaying at all in ie6 */
#add-part-box #ddl_AddPart input { padding-top: 5px; width: 500px; background : transparent;}
add-part-box #ddl_AddPart textarea { padding:5px; margin: 4px 0 0 20px; width: auto; }

/* Fix background of main area shifting rig
/* 02/03/2012 AG - Started making the right border 
#element-box div.m{	float:left;	width:97.9%;} */

/* fixes copyright text wrapping to next line */
#footer { width: 75%;}

/* Fix Update, Cancel buttons sitting vertically */
#ctl00_ContentPlaceHolder2_divancel { width:33px;}

/* Fixing Visited link text becoming invisible */
/*.login-button a:visited{color :white;}
.login-button a:hover{color : #058FF2;}*/


/* removed the display type to make the number of remaining status stick to previous text */
#requests-pending-stat span {	margin-right: -5px;}

/* Messages for changing passwords and incorrect logins appearing incorrectly */
div.message-list {width:57px;}
div.messag-list {width:57px;}
#message { overflow:hidden ;}
#message1 { overflow:hidden ;}

#filter-wrapper { /*width: 953px;*/  /*NEWNEWNEW*/ min-width:900px; padding-left: 5px;}
/*.button3 {margin: 6px 6px x 15px; padding: 0 2x 0 40;}*/

#prevunext {width: 100%; float:inherit ;}
div.header-toolbar li {width: 33px;}

/* SIGNUP */
/* Buttons being squished */
#ctl00_ContentPlaceHolder2_Imgbtn_Createaccount{width: 161px;}
#ctl00_ContentPlaceHolder2_Imgbtn_Cancel{width: 98px;}

/* EDIT PROFILE */
/* Process button being squished  */
#submit-form-profilebar input {width: 81px;}

/* Left and Right borders of div.m are not being displayed */
div#new-account-box div.m {	float:left;}
/* add role and change password boxes being stretched out by contents */
div.width-45 li {overflow:hidden ;}

/* USERS ADMIN PANEL */
/* Enable Deny buttons stacking semi vertically */
div.user-toolbar li {} /* width:54px; was able to turn this off due to being declared elsewhere 23/07/2012 AG*/

/* checkbox lable misaligned */
#submenu-box label{line-height: 15px;}

/* border of top table on right sitting out of line */
#ctl00_ContentPlaceHolder2_div_listrequests div#element-box div.m {
	/*width:924px; /*NEWNEWNEW */
}
/*NEWNEWNEW */
table.adminlist tbody th {	padding:5px	}
	
	/* Buttons on Reader in use prompt appearing vertically */
div#element-box.requests_small div.button-holder 	{		width:20px;		float:right;	}
	/* ANDREW  reader display was appearing beneath and spread across the whole page  */
#Reader_Display {width:120px;margin-top :-55px;}