/* IE7 OVERRIDES */


/* ALL PAGES */
/* ------------------------------------------------------------------------------------------------------------- */
/* Aligns the buttons to the top right */
div.header-toolbar {width: 120px;}
div.header-toolbar span {margin: 0px;}
div.user-toolbar span {	margin: 0px;}
div.user-toolbar .disabled { display:none;}
#toolbar-new.button, #icon-32-help.button {width:35px;}
/*div.b {height:5px !important;} /* fixed a bottom border appearing on the users page */

/* ALL BUTTONS */
/* adjusting the width forces divs to take into account their floats */
/* Fixing filter button text changing to invisible when link has been clicked */
.disabled-button {background: url(../images/button-bg-grey.jpg) 100% 0  no-repeat !important;}

/* ALL POPUPS */
.WidthAuto { width:700px;}

/* PROCEDURES PAGE */
/* ------------------------------------------------------------------------------------------------------------- */
/*replaces hover opacity for older browsers */
.opas tr:hover {background-color : Gray ;}

/* MONTH VIEW CALENDAR */
.mcal-day { overflow-y:auto; overflow-x:hidden;  } /* width: 13.96011834144%; forces calendar days to fit to rows without wrapping given different metrics in ie6 */
.mcal-week {padding-left: 4px; }
.mcal-date-anchor {float:left;}

/* ALERTS POPUP */
.alertbox_iframe {width:401px; height:101px; background-color:transparent;   position:absolute;  left:0px; top:0px; }
.alertbox_iframe iframe {width:100%; height:100%; background-color:transparent ;}


/* BOOKING PAGE */
/* -------------------------------------------------------------------------------------------------------------- */
#border-top-booking.booking {margin-left: 1px; margin-right:1px; margin-bottom:-1px; }
table.adminlist {/*border-right:solid 1px #ccc !important;*/	border-bottom-width: 1px;}
.Browser-Margin-2 { margin:-2px;}

/* SCAN PAGE */
/* -------------------------------------------------------------------------------------------------------------- */
.HiddenSpacing {width:100% ;}
div.order-deats {border-left: 1px solid #ccc;	border-right: 1px solid #ccc;}
div.order-deats {width:98.4%;} /* solves the left and right borders dissapearing in the order details panel *for Scan*/
.PopupPanelBorder {Width:750px;}

#filter-wrapper {
/*width: 940px;*/
min-width:900px;padding-left: 5px;}
div.header-toolbar span {
float: none;width: 32px;height: 32px;margin: 0 auto;display: block;}

div.toolbar-list a {}
div.toolbar-list span {	margin: 0px;}


/*----Requests pending box-----*/

/* Details Box */
/*--Add Part Box--
#border-top.requests {border:solid 1px silver;}*/

/*
input {
	border-width: expression(this.type == "radio" || this.type == "image" ? '0px' : this.type == "checkbox" ? '0px' : '1px');
}*/

/* Accessibility: css in template.css for slider keyboard
 * has to be reversed here or the mouse does not work for ie */
.pane-toggler + div {	display: block;}

#toolbar-box m {	height: 50px;	padding-left: 10px;}

div.popup-toolbar span {	margin: 0px;	position: relative;	padding-right: 0;}
div.message-list span {	float:left;	margin: 0px;	position: relative}

div.message-list a {position: relative;}

div#subheader {	height: 2em;}

#form-login .button_holder {
/* width: 35%; */
	}

#login-page .pagetitle h2 {	margin: 0px;	padding: 0px;}

*:first-child+html .clearfix {	min-height: 1px;}

.menu-links li,
.menu-links li label {	height: 2em;}

div.article-edit,
div.category-edit {	zoom: 1;}

div.pane-sliders,
div.panel,
div.pane-slider,
div.rules-section,
div.mypanel,
div.containerpg,
div.pagination,
div.upload-queue {	zoom: 1;}

div.width-20 fieldset.adminform, div.width-30 fieldset.adminform, div.width-35 fieldset.adminform, div.width-40 fieldset.adminform, 
div.width-45 fieldset.adminform, div.width-45-inactive fieldset.adminform, div.width-50 fieldset.adminform, div.width-55 fieldset.adminform, div.width-60 fieldset.adminform,
div.width-65 fieldset.adminform, div.width-70 fieldset.adminform, div.width-80 fieldset.adminform, div.width-100 fieldset.adminform {
	zoom: 1;
	margin-bottom:10px;
}

div.toggle-editor {	margin-top: -5px;	margin-bottom: 5px;}

div.current dd {	width: 100%;	position: relative;}

div.current ul.menu-links {	zoom: 1;	width: 25%;	margin: 0;	padding:0;	list-style-position: inside;}
input.readonly {	border: 0 !important;}
div.user-toolbar input{	border: 0 !important;	background: 0 !important;}
	
table.adminlist  input{	border: 0 !important;	background: 0 !important;}

div#position-icon.pane-sliders div.pane-down div.icon-wrapper {	margin: 0;}

div.pagetitle {	height: auto;}

div.pagetitle h2 {	min-height: 48px;}

fieldset.panelform fieldset.checkboxes.impunlimited {	float:none;	width: 170px;}

ul.adminformlist,
ul.adminformlist li {	margin: 0;	padding: 0;	list-style: none;}

/* Left and Right borders of div.m are not being displayed */
div#new-account-box div.m {	float:left;}

/* Correct Update and Cancel buttons sitting vertically */
div.next a {float :left ;}

/* fixes copyright text wrapping to next line */
#footer { width: 75%;}

/* removed the display type to make the number of remaining status stick to previous text */
#requests-pending-status span {	margin-top: -5px;}

/* checkbox lable misaligned */
#submenu-box label{line-height: 15px;}

/* box for adding new accounts not wide enough */
div#new-account-box div.m {width:748px;}

/* Messages for changing passwords and incorrect logins appearing incorrectly */
div.message-list {margin:0px 0 0 0 ;}
div.message1-list {margin:0px 0 0 0 ;}

/* PROCEDURES PAGE */
/* -------------------------------------------------------------------------------------------------------------- */
#filter-wrapper .button-holder {float:right; width:84px }