﻿/* IE9 OVERRIDES */
div#element-box {
/*border-top:solid 1px silver;*/
/* fixed a top border display issue on the bookingform page for the gridviewbox at the bottom */
padding-top:1px;}


/* PROCEDURES PAGE */
/* -------------------------------------------------------------------------------------------------------------- */
/* FILTER BOX */
#filter-wrapper .button-holder {float:none;}

/* PAGING BUTTONS PANE */
div#toolbar-box div.m {padding-bottom:1px !important;} /* stopped bottom border of rounded box disappearing on nazigation bar of Procedures page */

/* MONTH VIEW CALENDAR */
/*.mcal-day {width: 13.96011834144%;  }  forces calendar days to fit to rows without wrapping given different metrics in ie6 */